
<!-- see if it "/_includes/head/custom.html" works -->
<meta name="webcrawlers" content="all" />
<meta name="rating" content="general" />
<meta name="spiders" content="all" />
<meta name="robots" content="index,follow" />
<meta name="googlebot-news" content="index,follow" />
<meta name="googlebot" content="index,follow" />
