<!doctype html>
<html ⚡>
<head>
<!-- Video streaming _auto-play_, untuk munculkan suara klik/tap pada video. Jika streaming lewat smartphone, cukup putar layar ponsel untuk tampilan layar penuh. -->
  <meta charset="utf-8">
  <title>{{ page.title }} — {{ site.title }}</title>
  <script async custom-element="amp-video" src="https://cdn.ampproject.org/v0/amp-video-0.1.js"></script>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <link rel="canonical" href="<% canonical %>">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
</head>
<body>
<!-- {{ content }} -->
<amp-video width="480" height="270"
             poster="{{ page.poster }}"
             layout="responsive"
             controls
             autoplay
             rotate-to-fullscreen>
    <div fallback>
      <p>Your browser doesn't support HTML5 video.</p>
    </div>
    <source type="application/vnd.apple.mpegurl" src="https://{{ page.video_host }}/{{ page.video_id }}.m3u8" />
</amp-video>
</body>
</html>
